@model Pastures2019.Models.Camel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Camel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedRU" class="control-label"></label>
                <input asp-for="BreedRU" class="form-control" />
                <span asp-validation-for="BreedRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedKK" class="control-label"></label>
                <input asp-for="BreedKK" class="form-control" />
                <span asp-validation-for="BreedKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedEN" class="control-label"></label>
                <input asp-for="BreedEN" class="form-control" />
                <span asp-validation-for="BreedEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightRU" class="control-label"></label>
                <input asp-for="WeightRU" class="form-control" />
                <span asp-validation-for="WeightRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightKK" class="control-label"></label>
                <input asp-for="WeightKK" class="form-control" />
                <span asp-validation-for="WeightKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightEN" class="control-label"></label>
                <input asp-for="WeightEN" class="form-control" />
                <span asp-validation-for="WeightEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlaughterYield" class="control-label"></label>
                <input asp-for="SlaughterYield" class="form-control" />
                <span asp-validation-for="SlaughterYield" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwesYieldRU" class="control-label"></label>
                <input asp-for="EwesYieldRU" class="form-control" />
                <span asp-validation-for="EwesYieldRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwesYieldKK" class="control-label"></label>
                <input asp-for="EwesYieldKK" class="form-control" />
                <span asp-validation-for="EwesYieldKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EwesYieldEN" class="control-label"></label>
                <input asp-for="EwesYieldEN" class="form-control" />
                <span asp-validation-for="EwesYieldEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalGoals" class="control-label"></label>
                <input asp-for="TotalGoals" class="form-control" />
                <span asp-validation-for="TotalGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilkFatContent" class="control-label"></label>
                <input asp-for="MilkFatContent" class="form-control" />
                <span asp-validation-for="MilkFatContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeRU" class="control-label"></label>
                <input asp-for="RangeRU" class="form-control" />
                <span asp-validation-for="RangeRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeKK" class="control-label"></label>
                <input asp-for="RangeKK" class="form-control" />
                <span asp-validation-for="RangeKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangeEN" class="control-label"></label>
                <input asp-for="RangeEN" class="form-control" />
                <span asp-validation-for="RangeEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionRU" class="control-label"></label>
                <input asp-for="DescriptionRU" class="form-control" />
                <span asp-validation-for="DescriptionRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionKK" class="control-label"></label>
                <input asp-for="DescriptionKK" class="form-control" />
                <span asp-validation-for="DescriptionKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionEN" class="control-label"></label>
                <input asp-for="DescriptionEN" class="form-control" />
                <span asp-validation-for="DescriptionEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
