@page
@model ResetPasswordConfirmationModel
@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ResetPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @SharedLocalizer["YourPasswordHasBeenReset"]@*. Please <a asp-page="./Login">click here to log in</a>.*@
</p>
