@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administrator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Administrator"]</h1>

<a asp-area="" asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a>
<a asp-area="" asp-controller="BClasses" asp-action="Index">@SharedLocalizer["BClasses"]</a>