@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Contact"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/print/bootstrap-table-print.min.js"></script>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 maps">
            <div class="embed-responsive embed-responsive-4by3 border border-info">
                <div class="embed-responsive-item"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=%D1%83%D0%BB%D0%B8%D1%86%D0%B0%20%D0%96%D0%B0%D0%BD%D0%B4%D0%BE%D1%81%D0%BE%D0%B2%D0%B0%20%D0%B4.%2051%2C%20Almaty%2C%20Kazakhstan&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a></div>
            </div>
        </div>
        <div class="col-md-7">
            @if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
            {
                if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
                {
                    <div class="card-body text-center">
                        <h2 class="text-uppercase mt-3 font-weight-bold text-dark">@ViewBag.Title.</h2>
                        <h4 class="card-title">Казахский научно-исследовательский институт животноводства и кормопроизводства Министерства сельского хозяйства Республики Казахстан</h4>

                        <address>
                            Казахстан, Алматы, 050035, ул. Жандосова, д. 51<br />
                            <abbr>Телефон:</abbr>
                            8 (727) 303-63-33
                        </address>

                        <address>
                            <strong>Email:</strong>   <a href="mailto:bibliotekajik@mail.ru">bibliotekajik@mail.ru</a>,
                            <a href="mailto:givotnovodstvo@mail.ru">givotnovodstvo@mail.ru</a><br />
                        </address>
                    </div>
                }
                else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
                {
                    <div class="card-body">
                        <h2 class="text-uppercase mt-3 font-weight-bold text-dark">@ViewBag.Title.</h2>
                        <h4 class="card-title">Казахский научно-исследовательский институт животноводства и кормопроизводства Министерства сельского хозяйства Республики Казахстан</h4>

                        <address>
                            Казахстан, Алматы, 050035, ул. Жандосова, д. 51<br />
                            <abbr>Телефон:</abbr>
                            8 (727) 303-63-33
                        </address>

                        <address>
                            <strong>Email:</strong>   <a href="mailto:bibliotekajik@mail.ru">bibliotekajik@mail.ru</a>,
                            <a href="mailto:givotnovodstvo@mail.ru">givotnovodstvo@mail.ru</a><br />
                        </address>
                    </div>
                }
                else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
                {
                    <div class="card-body">
                        <h2 class="text-uppercase mt-3 font-weight-bold text-dark">@ViewBag.Title.</h2>
                        <h4 class="card-title">Казахский научно-исследовательский институт животноводства и кормопроизводства Министерства сельского хозяйства Республики Казахстан</h4>

                        <address>
                            Казахстан, Алматы, 050035, ул. Жандосова, д. 51<br />
                            <abbr>Телефон:</abbr>
                            8 (727) 303-63-33
                        </address>

                        <address>
                            <strong>Email:</strong>   <a href="mailto:bibliotekajik@mail.ru">bibliotekajik@mail.ru</a>,
                            <a href="mailto:givotnovodstvo@mail.ru">givotnovodstvo@mail.ru</a><br />
                        </address>
                    </div>
                }
            }
        </div>

        <table id="exportCont"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-show-header="false"
               data-show-fullscreen="true"
               data-buttons="btn btn-sm"
               data-buttons-class="primary"
               data-show-print="true"
               data-show-export="true">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" data-width="200">Один</th>
                    <th scope="col">Два</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Тест</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
        <div>
            <button id="button" class="btn btn-secondary btn-block">excel</button>
            <button id="pdfbutton" class="btn btn-secondary btn-block">pdf</button>
        </div>
    </div>
</div>

<script>
    var $table = $('#exportCont')
    var $excelbutton = $('#button')
    var $pdfbutton = $('#pdfbutton')
    $(function () {
        $excelbutton.click(function () {
            $('#exportCont').tableExport({type:'excel'});
        })
        $pdfbutton.click(function () {
            $('#exportCont').tableExport({
                type: 'pdf',
                jspdf: {
                    orientation: 'p',
                    format: 'a4',
                    margins: { left: 10, right: 10, top: 20, bottom: 20 },
                    autotable: {
                        styles: {
                            fillColor: 'inherit',
                            textColor: 'inherit'
                        },
                        tableWidth: 'auto'
                    }
                }
            });
        })

    })
    $(function () {
        $table.bootstrapTable('destroy').bootstrapTable({
            exportDataType: $(this).val(),
            exportTypes: ['txt', 'excel', 'pdf'],
            iconSize: "sm"
        }).trigger('change')
    })
</script>