@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FAQ"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-auto">
                @if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
                {
                    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
                    {
                        <dl>
                            @*<dt>Что означает номер выдела?</dt>
                            <dd></dd>*@
                            <dt id="NDVI">Что такое NDVI?</dt>
                            <dd>
                                <p class="text-justify">NDVI (Normalized Difference Vegetation Index) — нормализованный относительный индекс растительности — простой показатель количества фотосинтетически активной биомассы (обычно называемый вегетационным индексом). Этот индекс вычисляется по поглощению и отражению растениями лучей красной и ближней инфракрасной зоны спектра. Значения индекса для растительности лежат в диапазоне от 0,20 до 0,95. Чем лучше развита растительность во время вегетации, тем выше значение NDVI. Таким образом, NDVI – это индекс, по которому можно судить о развитии зеленой массы растений во время вегетации.</p>
                                <p class="text-justify">
                                    Значение NDVI для заданного пикселя всегда представлено как число, которое колеблется от минус один (-1) до плюс один (+1). Никакая зеленая растительность не дает значения, близкого к нулю, а значения, близкие к +1 (0,8-0,9), указывают на максимально возможную плотность зеленых листьев. Для более четкой интерпретации растительного покрова значения ниже 0,1 соответствуют бесплодным областям горных пород, песка или снега; более высокие значения от 0,2 до 0,3 указывают на кустарники и лугопастбищные угодья; умеренные и тропические леса представлены значениями от 0,6 до 0,8 (Weier & Herring, 1999).
                                    Состояние растительности, оцененное через NDVI, существенно изменяется в процессе вегетационного развития растений. Так, от момента начала вегетации растения накапливают зеленую биомассу и, следовательно, величина индекса увеличивается; в июле величина биомассы достигает максимума, после чего в процессе засыхание отмечаются уменьшение зеленой биомассы и снижение значений NDVI.
                                </p>
                            </dd>
                            <dt>Как работает спутник?</dt>
                            <dd>
                                <p class="text-justify">Сканирующий спектрорадиометр среднего разрешения MODIS (MODerate-resolution Imaging Spectroradiometer) расположен на спутниках Terra и Aqua, являющихся частью комплексной программы NASA EOS (Earth Observing System). Орбита спутника Terra является солнечно-синхронной. В то время как спутник Terra пересекает утром экватор с севера на юг, спутник Aqua переходит экватор с юга на север в обед, что позволяет получать глобальный охват Земли каждые 1-2 дня. Высота орбиты - 705 км, полоса обзора 2300 км. Хотя разрешение получаемых изображений грубее результатов большинства других спутников, охват позволяет получать ежедневную глобальную коллекцию снимков практически в режиме реального времени</p>
                            </dd>
                            <dt>Для чего нужна регистрация?</dt>
                            <dd>Регистрация требуется для администраторов и модераторов сайта.</dd>
                        </dl>
                    }
                    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
                    {
                        <dl>
                            @*<dt>Бөлу нөмірі нені білдіреді?</dt>
                            <dd></dd>*@
                            <dt id="NDVI">NDVI дегеніміз не?</dt>
                            <dd>NDVI (вегетацияның қалыпқа келтірілген индексі) - бұл өсімдік әр түрлі жарық толқындарын қалай шағылыстыратыны мен сіңіретіндігімен есептелетін өсімдік денсаулығының көрсеткіші.</dd>
                            <dt>Спутник қалай жұмыс істейді?</dt>
                            <dd>Жердің айналасында орбитада қозғалу үшін құрылғының алғашқы жылдамдығы бірінші ғарыштық жылдамдыққа тең немесе одан үлкен болуы керек. AES рейстері бірнеше жүз мың шақырымға дейінгі биіктікте жүзеге асырылады. Спутниктің ұшу биіктігінің төменгі шегі атмосферада жылдам тежелу процесін болдырмауға мәжбүр етеді.</dd>
                            <dt>Неліктен тіркелу керек?</dt>
                            <dd>Тіркеу сайт әкімшілері мен модераторлар үшін қажет.</dd>
                        </dl>
                    }
                    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
                    {
                        <dl>
                            @*<dt>What does the allotment number mean?</dt>
                            <dd></dd>*@
                            <dt id="NDVI">What is NDVI?</dt>
                            <dd>NDVI (Normalized Vegetation Index) is a measure of plant health, which is calculated by how the plant reflects and absorbs different light waves.</dd>
                            <dt>How does a satellite work?</dt>
                            <dd>To move in orbit around the Earth, the device must have an initial velocity equal to or greater than the first cosmic velocity. AES flights are carried out at altitudes of up to several hundred thousand kilometers. The lower limit of the satellite’s flight altitude necessitates avoiding the process of rapid braking in the atmosphere.</dd>
                            <dt>What is registration necessary for?</dt>
                            <dd>Registration is required for site administrators and moderators.</dd>
                        </dl>
                    }
                }
            </div>
        </div>
    </div>