@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Instruction"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container mt-5">
        @if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
        {
            if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
            {
                <div class="alert alert-info">
                    <button href="#" type="button" class="close"><i class="fa fa-info-circle text-info"></i></button>
                    <h4>Текстовая инструкция</h4>
                    <p>Инструкция по работе с приложением "GIS Пастбища"<a class="alert-link" href="~/Pdf/User_manual_GIS Pastures.pdf" target="_blank"> Нажмите здесь</a></p>
                </div>
            }
            else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
            {
                <div class="alert alert-info">
                    <button href="#" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-info"></i></button>
                    <h4>Текст нұсқаулық</h4>
                    <p>GIS Пастбища» қосымшасымен жұмыс жасау бойынша нұсқаулық <a class="alert-link" href="~/Pdf/User_manual_GIS Pastures.pdf" target="_blank"> Мұнда басыңыз</a></p>
                </div>
            }
            else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
            {
                <div class="alert alert-info">
                    <button href="#" type="button" class="close"><i class="glyphicon glyphicon-remove-circle text-info"></i></button>
                    <h4>Text instruction</h4>
                    <p>«Instructions for working with the application "GIS Пастбища" <a class="alert-link" href="~/Pdf/User_manual_GIS Pastures.pdf" target="_blank"> Click Here</a></p>
                </div>
            }
        }
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_Iqvu0pp5qQ" allowfullscreen></iframe>
        </div>
        <br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qhuAvyWPoyk" allowfullscreen></iframe>
        </div>
        <br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0HulYSt0PUk" allowfullscreen></iframe>
        </div>
        <br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a0EP_zyh7zY" allowfullscreen></iframe>
        </div>
        <br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K5M5mnbPjyg" allowfullscreen></iframe>
        </div>
        <br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EKirOKpOqmg" allowfullscreen></iframe>
        </div>
        <br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S62jrs0VzIQ" allowfullscreen></iframe>
        </div>
        <hr class="featurette-divider">
    </div>
      