@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "MODIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="jumbotron p-2 mt-2">
            <h1>MODIS</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@SharedLocalizer["Download"]</h5>
                        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                        <a class="btn btn-primary" asp-area="" asp-controller="MODIS" asp-action="Download">@SharedLocalizer["Download"]</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@SharedLocalizer["Extract"]</h5>
                        @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                        <a class="btn btn-primary" a asp-area="" asp-controller="MODIS" asp-action="Extract">@SharedLocalizer["Extract"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    