@model Pastures2019.Models.MODISProduct
@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron p-2 mt-2">
        <h1>@SharedLocalizer["Edit"]</h1>
        <h4>@SharedLocalizer["MODISProduct"]</h4>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="MODISSourceId" class="control-label"></label>
                    <select asp-for="MODISSourceId" class="form-control" asp-items="ViewBag.MODISSourceId"></select>
                    <span asp-validation-for="MODISSourceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
                </div>
            </form>
        </div>
        
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
